body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    
}
/* first section style part */
.flexible-container1{
    display: flex;
    padding: 5%;
    background-image: url(./images/wave.svg);
    background-repeat: no-repeat;
}
.half-width1{
    width: 50%;
    margin-left: 6%;
}
.half-width1 img{
    width: 80%;
}
.half-width1 h1{
    font-size: 60px;
}
.half-width1 span{
    color: white;
}
.half-width1 h2{
    font-size: 50px;
    color: white;
}
.half-width1 h4{
    font-weight: 600;
}
.half-width1 a{
    text-decoration: none;
    font-size: x-large;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(blue, blueviolet);
    padding: 15px 30px;
    border-radius: 15px;
}
/* first section style part end */

/* second setion style part */
.flexible-container2{
    display: flex;
    padding: 5%;
    
}
.half-width2{
    width: 50%;
    margin-left: 6%;
}
.half-width2 img{
    width: 80%;
    border-radius: 50%;
}
.half-width2 h2{
    font-size: 40px;
    font-weight: 900;
}
.half-width2 p{
    font-size: larger;
}
.half-width2 a{
    text-decoration: none;
    font-size: x-large;
    font-weight: 700;
    background-image: linear-gradient(cyan, teal);
    padding: 18px 30px;
    border-radius: 15px;
}
/* second setion style part end */